:root {
   --main-bg-color: rgb(255, 249, 235);
   --secondary-bg-color: rgb(224, 110, 108);
   --secondary-dark: rgb(163, 51, 57);
   --secondary-light: #FFDCCC;
   --secondary-blue: #425b71;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	// font-family: 'Monoton', cursive;
	font-family: 'Montserrat', sans-serif;
   background-color: #425b71;
   overflow-x: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: clamp(1rem, 0.9475rem + 0.2333vw, 1.07rem);
}

#svelte {
   display: flex;
   justify-content: center;
   position: relative;
   min-height: 100%;
}

.main {
   display: flex;
   justify-content: center;
   position: relative;
}

.section {
   top: 7rem;
   position: absolute;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 90vw;
   max-width: 80rem;
   min-height: 80%;
}

@media (min-width: 36rem) {
}
@media (min-width: 48rem) {
}
@media (min-width: 62rem) {
}
@media (min-width: 75rem) {
}